/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

li {

  list-style: none;
}

li:first-child {
  font-weight: bold;
  text-align: center;
}

li:nth-child(2) {
  text-align: center;
  font-weight: bold;
}

li:nth-child(3) {
  text-align: center;
}
img {
  width: 70%;
  padding-left: 26%;
}

header {
  background-image: url("../css/images/kelly-sikkema-YZ8usdlqw8A-unsplash.jpg");
  height: 500px;
}

h1 {
  padding-top: 150px;
  padding-left: 25%;
  margin: 0;
  color: white;
  font-size: 2.75rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  color: white;
  font-size: 1.10rem;
  padding-top: 25px;
  padding-left: 19%;
  margin: 0;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.searchEngine {
  padding-top: 30px;
  padding-left: 28%;
}

input {
  width: 29%;

}

button {
background-color: black;
color: white;
width: 12%;
text-decoration: none;
border: 2px black solid;
display: inline-block;
text-align: center;
border-radius: 2px;


}

ul {
  padding-left: 25%;
  width: 80%;
}

#displayResults {
  margin-top: 50px;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
